{
    "extends": [
      "airbnb",
      "airbnb/hooks",
      "eslint-config-prettier",
      "prettier",
      "plugin:import/typescript"
    ],
    "plugins": ["react", "@babel", "@typescript-eslint"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "sourceType": "module",
      "requireConfigFile": false,
      "babelOptions": {
        "configFile": "./.babel.rc"
      }
    },
    "env": {
      "browser": true,
      "jest": true,
      "es2021": true
    },
    "rules": {
      "curly": ["error"],
      "max-depth": ["warn", 4],
      "id-length": ["warn", { "exceptions": ["i", "j"], "min": 2 }],
      "no-lonely-if": ["error"],
      "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
      "no-restricted-syntax": "off",
      "class-methods-use-this": "off",
      "jsx-a11y/href-no-hash": ["off"],
      "jsx-a11y/anchor-is-valid": ["off"],
      "jsx-a11y/label-has-associated-control": [ "error", {
        "assert": "either"
      }],
      "default-param-last": ["off"],
      "arrow-body-style": ["off"],
      "no-nested-ternary": ["off"],
      "no-shadow": ["off"],
      "consistent-return": ["off"],
      "react/state-in-constructor": ["off"],
      "react/jsx-props-no-spreading": ["off"],
      "react/static-property-placement": "off",
      "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
      "import/no-unresolved": 0,
      "import/extensions": 0 ,
      "react/function-component-definition": [2,{ "namedComponents": "arrow-function", "unnamedComponents": "arrow-function"}]},
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      },
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      } 
    }
  }