.header {
    background-color: white;
    min-height: 80px;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.userinfo {
    font-size: 18px;
    line-height: 22px;
}

.userinfo button {
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
}

.unsigned button {
    padding: 10px 16px;
}

.widthwrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    align-self: center;
    text-decoration: none;
}

.title:visited {
    color: rgba(0, 0, 0, 0.85);
}

.signupbtn {
    color: #52C41A;
    border: 1px solid #52C41A;
}

.signupbtn:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.signinbtn:hover {
    opacity: 0.7;
}

.unsigned {
    display: flex;
    gap: 10px;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;
}

.user:hover {
    color: rgba(0, 0, 0, 0.85);
}

.signed {
    display: flex;
    align-items: center;
    gap: 15px;
}

.createbtn {
    font-size: 14px;
    border: 1px solid #52C41A;
    color: #52C41A;
    padding: 5px 14px;
}

.createbtn:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.logoutbtn {
    border: 1px solid rgba(0, 0, 0, 0.85);
    color: rgba(0, 0, 0, 0.85);
    padding: 10px 10px;
}

.logoutbtn:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.avatar {
    border-radius: 50%;
    max-width: 46px;
    max-height: 46px;
}