.information {
    display: grid;
}

.header {
    display: flex;
    justify-content: space-between;
}

.postinfo {
    display: grid;
    gap: 5px;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.titletext {
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
    text-decoration: none;
}

.likes {
    display: flex;
    gap: 5px;
    color: rgba(0, 0, 0, 0.75);
}

.taglist {
    display: flex;
    gap: 8px;
    align-items: center;
    line-height: 15px;
}

.tag {
    padding: 3px 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.previewtext {
    align-items: center;
    max-width: 657px;
    padding: 10px 0;
    overflow-y: hidden;
}

.userinfo {
    display: flex;
    gap: 12px;
    flex-flow: wrap;
    align-items: center;
}

.namedate {
    display: grid;
}
.name {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}

.date {
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}